<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915124870931-sb9rcs5rgmn2hl2p1aiiv3g27c9fgcgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915124870931-sb9rcs5rgmn2hl2p1aiiv3g27c9fgcgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBj7VtggjiBNB_F2JfSqrnHIE86DD3-OmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>915124870931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SHISH-COMPANY.SHISH-COMPANY</string>
	<key>PROJECT_ID</key>
	<string>hookah-d245e</string>
	<key>STORAGE_BUCKET</key>
	<string>hookah-d245e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:915124870931:ios:cb42e704f854f378</string>
	<key>DATABASE_URL</key>
	<string>https://hookah-d245e.firebaseio.com</string>
</dict>
</plist>